html, body {
	height: 100%;
}
.main_section {
	background-color: crimson;
	height: 100%;
}
.panel {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
}
/*.panel_btn {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: solid 1px black;
	background-color: white;
	position: absolute;
	top: 50%;
	right: 300px;
	margin-top: -40px;
	margin-right: -40px;
}*/
.panel_btn {
	background-color: red;
}
.panel_btn:first-child {
	background-color: blue;
}

.panel_btn:last-child {
	background-color: yellow;
}

