body, html {
	height: 100%;
}
.cont {
	height: 2000px;
	width: 100%;
	position: absolute;
}
.homer {
	bottom: 0;
    left: 30%;
    position: absolute;
    height: 400px;
}
.beer {
	height: 80px;
	position: absolute;
}/*
.beer:nth-child(2) {
	height: 80px;
	position: absolute;
	top: -40px;
	left: 200px;
}
.beer:nth-child(3) {
	height: 80px;
	position: absolute;
	top: -20px;
	left: 900px;
}
.beer:nth-child(4) {
	height: 50px;
	position: absolute;
	top: 405px;
	left: 800px;
}
.beer:nth-child(5) {
	height: 50px;
	position: absolute;
	top: 259px;
	left: 353px;
}
.beer:nth-child(6) {
	height: 40px;
	position: absolute;
	top: 700px;
	left: 200px;
}
.beer:nth-child(7) {
	height: 40px;
	position: absolute;
	top: 561px;
	left: 200px;
}*/