.main {
	width: 805px;
    margin: 0 auto;
}
.gallery {
	margin-top: 120px;
}
.gallery li {
    display: inline-block;
    position: relative;
    transition: transform .3s;
}
.grayscale { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}
.bigger {
	transform: scale(1.05);
  z-index: 1;
	
}
.smaller {
	transform: scale(.95);
}
